<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-6 col-6"><h3>Employee Attendance</h3></div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-6 DateClass"><b>Date: {{date}}</b></div>
</div>
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-12">
        <label class="control-label">Search Employee</label>
        <input type="text" value="" [(ngModel)]="searchEmp"/>
    </div>
</div>
<div class="row" *ngFor="let emp of empData | paginate: { itemsPerPage: 3, currentPage: p }">
    <div class="col-lg-7 col-md-7 col-xs-7 col-7">{{emp.firstName}} {{emp.lastName}}</div>
    <div class="col-lg-2 col-md-2 col-xs-2 col-2">
        <input type="checkbox" class="form-control" [(ngModel)]="emp.present" value="{{emp.present}}" (change)="changeCheckboxEvent(emp)"/>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-3 col-3">
        <input type="text" class="form-control" [(ngModel)]="emp.extraWorkHr" value={{emp.extraWorkHr}} (change)="changeCheckboxEvent(emp)"/>
    </div>
</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>