<hr style="height: 1px;color: #123455;background-color: #d55500;border: none;color: #d55500;" />  
<p *ngIf="!Inventory"><em>Loading Inventory Details please Wait ! ...</em></p>  
<div id="tblContainer">  <!-- style='table-layout:fixed;' -->
            <!--<div>    style="background-color:#FFFFFF; border: dashed 3px #FFFFFF; padding: 5px; " -->
                <div class="row"> <!-- style="height: 30px;  color:#123455 ;border: solid 1px #659EC7;"  -->
                    <div class="col-md-1"> </div>  
                    <div class="col-md-7">  
                        <h1> Add New Inventory Information <strong style="color:#0094ff"> </strong></h1>  
  
                    </div>  
                    <div class="col-md-4">  
                        <button (click)=AddInventory() style="background-color:#f83500;color:#FFFFFF;font-size:large;width:260px;height:50px;  
                              border-color:#a2aabe;border-style:dashed;border-width:2px;">  
                            Add New Inventory Info  
                        </button>  
                           
                    </div>  
                </div>  
            
            <hr style="height: 1px;color: #123455;background-color: #d55500;border: none;color: #d55500;" />  
    <div *ngIf="AddTable"  class="row" >  
                    <div style="background-color:#FFFFFF; border: dashed 3px #6D7B8D; padding :5px;width :99%" (ngModel)="item" >  
                            <!-- <div style="height: 72px; background-color:#336699 ; color:#FFFFFF ;border: solid 1px #659EC7;">   -->
                                    <!-- <div class="col-md-2">  
                                        
                                    </div>   -->
                                <div class="col-md-12 col-sm-12 col-xs-12" style="background-color:#336699 ; color:#FFFFFF ;border: solid 1px #659EC7;">  
                                    <h2>Insert/Edit Stock Details : </h2>  
                                </div>  
                            <!-- </div>   -->
                            <div> 
                                    <div style="color:#9F000F;font-size:large;" >  
                                        <div class="form-group row">  
                                            <div class="col-md-3 col-sm-12 col-xs-12"><label class="form-control">Inventory ID: </label> </div>  
                                            <div class="col-md-3 col-sm-12 col-xs-12">  
                                                <input type="number" class=" form-control" #InventoryID [(ngModel)]="item.inventoryID" value="{{item.inventoryID}}" style="background-color:tan" readonly>  
                                            </div>
                                            <div class="col-md-3 col-sm-12 col-xs-12"><label class="form-control">Item Name: </label> </div>  
                                            <div class="col-md-3 col-sm-12 col-xs-12">  
                                                <input type="text" class=" form-control" #ItemName [(ngModel)]="item.itemName" value="{{item.itemName}}" required>  
                                            </div>  
                                        </div>  
                                        <div class="form-group row">  
                                            <div class="col-md-3 col-sm-12 col-xs-12"><label class=" form-control">Stock Quantity: </label> </div>  
                                            <div class="col-md-3 col-sm-12 col-xs-12">  
                                                <input class=" form-control" type="number" #StockQty [(ngModel)]="item.stockQty" value="{{item.stockQty}}" min="50" required>  
                                            </div> 
                                            <div class="col-md-3 col-sm-12 col-xs-12"><label class=" form-control">Reorder Quantity: </label> </div>  
                                            <div class="col-md-3 col-sm-12 col-xs-12">  
                                                <input class=" form-control" type="number" #ReorderQty [(ngModel)]="item.inQuantity" value="{{item.inQuantity}}" min="50" required>  
                                            </div>  
                                        </div>  
                                        <div class="form-group row">  
                                            <div class="col-md-3 col-sm-12 col-xs-12"><label class="form-control">Department: </label> </div>  
                                            <div class="col-md-3 col-sm-12 col-xs-12">
                                                <select class=" form-control" [(ngModel)]  ="item.departmentId">
                                                    <option selected="" value="0">Please Select</option>
                                                    <option *ngFor="let dept of department" [value]= "dept.id">
                                                    {{dept.departmentName}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-3 col-sm-12 col-xs-12"><label class="form-control">Out Quantity: </label> </div>  
                                            <div class="col-md-3 col-sm-12 col-xs-12">  
                                                <input type="number" class=" form-control" [(ngModel)]="item.outQuantity" value="{{item.outQuantity}}" min="50" required>  
                                            </div>
                                        </div>
                                        <div class="form-group row"> 
                                            <div class="col-md-12 col-sm-12 col-xs-12">  
                                                <button class="btn btn-default" (click)=addInventoryDetails(item) style="background-color:#428d28;color:#FFFFFF;font-size:large;  
                              border-color:#a2aabe;border-style:dashed;border-width:2px;">  
                                                    Save  
                                                </button>
                                                     
                                                <button class="btn btn-default" (click)=closeEdits() style="background-color:#334668;color:#FFFFFF;font-size:large;  
                              border-color:#a2aabe;border-style:dashed;border-width:2px;">  
                                                    Close  
                                                </button>  
                                            </div>  
                                        </div>  
                                    </div>  
                                <!-- </td>   -->
                            </div>  
                    </div>  
                    <hr style="height: 1px;color: #123455;background-color: #d55500;border: none;color: #d55500;" />          
    </div>  
    <div class="table-responsive"> 
            <table class='table table-striped' style="background-color:#FFFFFF; border:2px #6D7B8D; padding:5px;table-layout:fixed;" cellpadding="2" cellspacing="2" *ngIf="Inventory">  
                <thead class="thead-dark">
                    <tr style="background-color:#336699 ; color:#FFFFFF ;border: solid 1px #659EC7;">  
                        <td align="center">Edit</td>  
                        <td align="center">Delete</td>  
                        <td align="center">Inventory ID</td>  
                        <td align="center">Item Name</td>  
                        <td align="center">StockQty</td>  
                        <td align="center">ReorderQty</td>  
                        <td align="center">OutQuantity</td>
                        <td align="center">Department</td>  
                        <!-- <td width="120" align="center">Required Priority Status</td>   -->
                    </tr>  
                </thead>
                <tbody *ngFor="let INVY  of Inventory" class="table-bordered table-hover">  
                    <tr>  
                        <td align="center" style="border: solid 1px #659EC7;  padding: 0px;"> 
                                <button class="btn btn-link" (click)=editInventoryDetails(INVY) >
                                        Update  
                                    </button> 
                        </td>  
                        <td align="center" style="border: solid 1px #659EC7; padding: 0px;table-layout:fixed;"> 
                                <button class="btn btn-link" (click)=deleteinventoryDetails(INVY.inventoryID)  
                                    >Delete  
                                </button>  
                        </td>  
                        <td align="center" style="border: solid 1px #659EC7; padding: 5px;table-layout:fixed;">  
                            <span style="color:#9F000F">{{INVY.inventoryID}}</span>  
                        </td>  
                        <td align="left" style="border: solid 1px #659EC7; padding: 5px;table-layout:fixed;">  
                            <span style="color:#9F000F">{{INVY.itemName}}</span>  
                        </td>  
  
                        <td align="right" style="border: solid 1px #659EC7; padding: 5px;table-layout:fixed;">  
                            <span style="color:#9F000F">{{INVY.stockQty}}</span>  
                        </td>  
  
                        <td align="right" style="border: solid 1px #659EC7; padding: 5px;table-layout:fixed;">  
                            <span style="color:#9F000F">{{INVY.inQuantity}}</span>  
                        </td> 
                        <td align="right" style="border: solid 1px #659EC7; padding: 5px;table-layout:fixed;">  
                            <span style="color:#9F000F">{{INVY.outQuantity}}</span>  
                        </td> 
                        <td align="right" style="border: solid 1px #659EC7; padding: 5px;table-layout:fixed;">  
                                <span style="color:#9F000F">{{INVY.departmentName}}</span>  
                            </td> 
  
                        <!-- <td align="center" [ngStyle]="INVY.priorityStatus==1 && {'background-color': 'green'}  || INVY.priorityStatus==0 && {'background-color': 'red'} " style="height:42px;width:42px">  
                            <span style="color:#FFFFFF">{{INVY.priorityStatus}}    
                            <div  [ngStyle]="INVY.priorityStatus==1 && {'background-image': 'url(' + imgchk + ')'}  || INVY.priorityStatus==0 && {'background-image': 'url(' + imgunChk + ')'} " style="background-repeat: no-repeat;height:38px;width:38px" >  
                            </div>       
                        </td>   -->
  
                        <!-- <td align="left" [ngStyle]="INVY.stockQty>INVY.reorderQty+50 && {'background-color': '#0094ff'}  || INVY.stockQty<=INVY.reorderQty+50  && {'background-color': '#e5e800'} " style="border: solid 1px #ffffff; padding: 5px;table-layout:fixed;">  
                            <span style="color:#FFFFFF">{{INVY.priorityStatus}}</span>  
                        </td>   -->
                    </tr>  
                </tbody>  
            </table>
    </div>  
</div> 